<h1 style="color:white">This looks like a job for Superman</h1>

<div>
	<h1>New Voto</h1>

	<%= render 'votos/form' %>

	<%= link_to 'Back', votos_path %>
</div>

<script type="text/javascript">
	$("document").ready(function(){
		$.backstretch("http://i1100.photobucket.com/albums/g411/stcv66/stcv66wangzan/stcv661176_zps89972dca.jpg~original");
	});
</script>